<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seminarproject">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SeminarProject">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomePage"
            android:parentActivityName=".MainActivity"
            android:label= "Homepage"
            >
        </activity>
        <activity android:name=".VocabCards"
            android:parentActivityName=".ActivitySelection"
            android:label = ".VocabCards">
        </activity>
        <activity android:name=".ActivitySelection"
            android:parentActivityName=".HomePage"
            android:label = ".ActivitySelection">
        </activity>
        <activity android:name=".MatchingGame"
            android:parentActivityName=".ActivitySelection"
            android:label=".MatchingGame">
        </activity>
        <activity android:name=".QuestionActivity"
            android:parentActivityName=".ActivitySelection"
            android:label=".QuizGame">
        </activity>
        <activity android:name=".FinishedActivity"
            android:parentActivityName=".QuestionActivity"
            android:label=".QuizGame"></activity>
        <activity android:name=".VocabCardInfo"
            android:parentActivityName=".VocabCards"
            android:label=".VocabCardInfo"></activity>
        <activity android:name=".TranslationActivity"
            android:parentActivityName=".ActivitySelection"
            android:label=".TranslationActivity"></activity>
    </application>

</manifest>